:root {
  --blur-radius: 5px;
  --element-opacity: 60%;
  --txt-cros-sys-app_base: 254, 251, 255;
  --new-cros-sys-app_base: rgba(var(--txt-cros-sys-app_base), calc(var(--element-opacity) + 10%));
  --new-cros-sys-app_base_shaded: rgba(240, 240, 250, var(--element-opacity));
}

@media (prefers-color-scheme: dark) {
  :root {
    --txt-cros-sys-app_base: 22, 23, 29;
    --new-cros-sys-app_base: rgba(var(--txt-cros-sys-app_base), var(--element-opacity));
    --new-cros-sys-app_base_shaded: rgba(0, 0, 0, var(--element-opacity));
  }
}

#sort-menu, #file-context-menu, #gear-menu, #tasks-menu, #providers-menu, #text-context-menu {
  backdrop-filter: blur(var(--blur-radius));
}

.customBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  object-position: center;
  object-fit: cover;
  filter: blur(var(--blur-radius));
  pointer-events: none;
  user-select: none;
  height: 100%;
  width: 100%;
}

os-settings-ui {
  background-color: var(--new-cros-sys-app_base_shaded);
}
